<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add page</title>
</head>
<body>
    <!-- 링크거는명령어 href -->
    <h1><a href="/topic">ServerSide JavaScript</a></h1> 
    <hr>
    <ol>
        <%for(var i=0;i<topics.length; i++) { %>
        <li>
            <a href="/topic/<%=topics[i].id %>"><%=topics[i].title %></a> 
             : <%=topics[i].description %> </li>
        <% } %>
    </ol>
    
        <article>
            <form method="POST" action="/topic/add">
                <p><input type="text" value ="<%=topics.title %>" name="title" placeholder="title" /></p>
                <p><textarea name="description" rows="6" cols="50" placeholder="description"></textarea></p>
                <!-- <p>내용 : <input type="text", value ="", name="description", placeholder="내용을 입력하세요" /></p> -->
                <p><input type="text" value ="<%=topics.author %>" name="author" placeholder="author" /></p>
                <p><input type="submit"/></p>
            </form>
        </article>
    <ul>
        <li><a href="/topic/add">add</a></li>
    </ul>
</body>
</html>